.detailContainer img {
    width: 400px;
    border-radius: 8px;
}

.detailContainer {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.detailTitle {
    height: 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
}

.detailInfo {
    margin-right: 270px;
    font-weight: bolder;
}

.detailInfo2 {
    font-size: 20px;
}

.noActivity {
    width: 417px;
    height: 87px;
    background: #EEEEEE;
    border-radius: 8px;
    margin: 0 40%;
}

