.cardContainer {
    padding: 20px;
}

.card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin: 15px;
}

.card img {
    object-fit: contain;
    display: block;
    margin-top: 20px;
    /* left: 11.51%;
    right: 11.03%;
    top: 20.36%;
    bottom: 36.09%; */
    width: 323px;
    height: auto;
    border-radius: 8px;
}

.card1 {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.name {
    font-weight: bold;
    font-size: 18px;
    align-self: flex-start;
}

.id p {
    margin: 0;
    background: #EEEEEE;
    color: #787878;
border-radius: 8px;
width: 50px;
align-self: flex-end;
}

.continent {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
}


.navLink {
    text-decoration: none;
}

.buttonToDetail {
    background: #4B5563;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 60px;
    width: 100%;
    color: white;
    border: none;
    font-size: 18px;
}

.buttonToDetail:hover {
    background-color: #6b7280;
    cursor: pointer;
}

/* button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 5px;
    text-align: center;
    font-size: 11px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.35s;
    border: 2px solid #BBBCB8;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #BBBCB8;
  }
  
  button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 black;
    border: 2px solid black;
  }
  
  button:active {
    transform: scale(0.9);
  } */

.America {
    color: #F97316;
    background-color: #FDE68A;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
}

.Europe {
    color: #F43F5E;
    background-color: #FECDD3;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
}

.Asia {
    color: #ED509E;
    background-color: #FBCFE8;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
}

.Africa {
    color: #84CC16;
    background-color: #D9F99D;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
}

.Antarctic {
    color: white;
    background-color: #78AED3;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
}

.Oceania {
        color: #a855f7;
            background-color: #e9d5ff;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 8px;
            border-radius: 8px;
}