.loader {
    position: relative;
    width: 120px;
    height: 140px;
    background-image: radial-gradient(circle 30px, #000000 100%, transparent 0),
        radial-gradient(circle 5px, #000000 100%, transparent 0),
        radial-gradient(circle 5px, #000000 100%, transparent 0),
        linear-gradient(#000000 20px, transparent 0);
    background-position: center 127px, 94px 102px, 16px 18px, center 114px;
    background-size: 60px 60px, 10px 10px, 10px 10px, 4px 14px;
    background-repeat: no-repeat;
    z-index: 10;
    perspective: 500px;
    margin: 0 auto;
}

.loader::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #000000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%) rotate(-45deg);
    border-right-color: transparent;
    box-sizing: border-box;
}

.loader::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    transform: translate(-50%, -55%) rotate(-45deg) rotateY(0deg);
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    border: 7px solid #4d4d4d;
    border-radius: 50%;
    animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: translate(-50%, -55%) rotate(-45deg) rotateY(360deg)
    }
}

/* .svg {
    position: absolute;
    width: 0;
    height: 0;
}
.loaderContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.loader {
    width: 12em;
    height: 3em;
    position: relative;
    overflow: hidden;
    border-bottom: 8px solid #000;
    filter: url(#goo);
}

.loader::before {
    content: '';
    width: 22em;
    height: 18em;
    background: #f00;
    position: absolute;
    border-radius: 50%;
    left: -2em;
    bottom: -18em;
    animation: wee1 2s linear infinite;
}

.loader::after {
    content: '';
    width: 16em;
    height: 12em;
    background: #0ff;
    position: absolute;
    border-radius: 50%;
    left: -4em;
    bottom: -12em;
    animation: wee2 2s linear infinite 0.75s;
}

@keyframes wee1 {
    0% {
        transform: translateX(-10em) rotate(0deg);
    }

    100% {
        transform: translateX(7em) rotate(180deg);
    }
}

@keyframes wee2 {
    0% {
        transform: translateX(-8em) rotate(0deg);
    }

    100% {
        transform: translateX(8em) rotate(180deg);
    }
} */