.homeTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 96px;
}

.homeContainer {
    margin: 0 150px 100px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

