.paginadoContainer {
    display: flex;
        justify-content: center;
        /* Centra horizontalmente */
        align-items: center;
        /* Centra verticalmente */
        margin: 20px;
}
.pagina {
    width: 76px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #EAEAEA;
    margin: 0 10px;
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}
.paginado {
    margin: 0 42%;
}

.button {
    --bg: #000;
    --hover-bg: #8dc8e4;
    --hover-text: #000;
    color: #fff;
    border: none;
    border-radius: 12px;
    /* padding: 0.8em 2em; */
    background: var(--bg);
    width: 76px;
    height: 52px;
    flex-shrink: 0;
    font-size: 18px;
}

button:hover {
    background-color: #4b5563;
    cursor: pointer;
}